@charset "utf-8";

/*
	font-family: 'Jockey One', sans-serif;
	font-family: 'Ubuntu Condensed', sans-serif;
	font-family: 'Patua One', cursive;
*/
body{
	font-family: 'Ubuntu Condensed', sans-serif;
}
.page-header{margin:0;}
.logo-box{
	font-family: 'Jockey One', sans-serif;
	font-size:42px;
	color:#333;
	text-transform:uppercase;
}
.logo-box > a{color:#333;}
.logo-box > a:hover{text-decoration:none;}

.header-menu{
	list-style:none;
	margin:5px 0;
	padding:0;
}
.header-menu > li{
	list-style:none;
	margin:0 5px;
	padding:0;
	display:inline;
}
.header-menu > li > a{
	color:#333;
	font-family: 'Patua One', cursive;
	font-size:13px;
	text-transform:uppercase;
}
.header-menu > li > a:hover{
	text-decoration:none;
	color:#000;
}
.search-box > input{
	border:1px solid #CCC;
	width:315px;
	height:30px;
	padding:0 5px;
	margin-left:5px;
	font-family:'Ubuntu Condensed', sans-serif;
	font-size:14px;
	color:#333;
}
.search-box > input:focus{
	border:1px solid #000;
}
.main-menu{
	background:none;
	border-bottom:1px solid #EEE;
	font-family: 'Patua One', cursive;
}
.main-menu  .navbar-collapse{
	margin-left:-15px;
}
.item img{
	width:100%;
}
.add img {
 width:70%;
}
.top-title-banner{
	border-bottom:1px solid #DDD;
	padding:20px 0;
	background:#E7e7e7;
}
.top-title-banner > h1{
	font-family: 'Patua One', cursive;
	font-size:50px;
	color:#333;
	margin:0 10px;
	padding:0;
	text-transform:uppercase;
	text-shadow:text-shadow: 1px 1px 1px #000;
}
.items {
	margin:0;
	padding:0;
	list-style:none;
	text-align:center;
	float:left;
	margin:10px 10px;
}
.inside .items{
	margin:10px 10px;
}
.left-menu{
 
}
.left-menu h1{
	font-family: 'Jockey One', sans-serif;
	font-size:32px;
	text-align:right;
	border-bottom:1px solid #CCCCCC;
}
.left-menu > ul{
	font-family: 'Patua One', cursive;
	text-transform:uppercase;
	font-size:18px;
	list-style:none;
	margin:0;
	padding:0;
	text-align:right;
}
.left-menu > ul > li{
	margin:15px 0;
	border-bottom:#CCC 1px dotted;
	padding-bottom:15px;
}
.left-menu > ul > li > a{
	color:#333;
}
.left-menu > ul > .active > a{
	color:#C00;
}
.left-menu > ul > li > ul > .active > a{
	color:#333;
}
.left-menu > ul > li > ul{
	margin:0 ;
	padding:0;
	list-style:none;
	font-size:16px;
}
.left-menu > ul > li > ul > li > a{
	color:#666;
	text-align:right;
	
}
.product-img{
	background:#CCC;
}
.product-img img{
	width:100%;
	height:100%;
}
.product-ditels{
	padding-bottom:70px;
}
.product-ditels h1{
	margin:0;
	padding:0;
	text-transform:uppercase;
	font-family: 'Patua One', cursive;
}
.product-ditels h5{
	margin:0;
	padding:0;
	font-family: 'Ubuntu Condensed', sans-serif;
}
.product-ditels button{
	width:100%;
	font-size:32px;
	text-transform:uppercase;
	font-family: 'Patua One', cursive;
}
.tumb{
	margin-top:-60px;
	cursor:pointer;
}
.product-ditels button + p{
	margin-top:20px;
	text-align:left;
}
.product-ditels button + p img {
	margin:0 10px;
	cursor:pointer;
}
.new  span{
	background:#0CF;
	color: #FFFFFF;
    display: block;
    float: right;
    font-size: 14px;
    height: 24px;
    margin-bottom: -20px;
    overflow: hidden;
    padding: 0 5px;
    position: relative;
    z-index: 1000;
}
footer{
	border-top:1px solid #DDD;
	padding-top:10px;
	background:#E7E7E7;
	border-top:1px solid #ddd;
	padding-bottom:10px;
}
footer  a{
	color:#333;
	padding:0 10px ;
	border-right:1px solid #999;
}
.form{
	width:500px;
	margin:0 auto;
}
.form h3{
	font-family: 'Patua One', cursive;
	font-size:32px;
	text-transform:uppercase;
	margin:0;
}
.form h4{
	font-family: 'Patua One', cursive;
	font-size:25px;
	text-transform:capitalize;
	margin:0;
	
}

.form input[type="text"],.form input[type="password"]{
	border:1px solid #999;
	height:30px;
	width:300px;
	display:block;
	clear:both;
	margin:10px 0;
	padding:5px;
}
.form input:focus[type="text"],.form input:focus[type="password"]{
	border:1px solid #09F;
	height:30px;
	width:300px;
	display:block;
	clear:both;
	margin:10px 0;
	padding:5px;
	font-family: 'Ubuntu', sans-serif;
}
.form input[type="button"]{
	border:1px solid #09F;
	background:#09F;
	padding:5px;
	width:300px;
	font-family: 'Patua One', cursive;
	font-size:20px;
	color:#FFF;
	margin:20px 0;
}
.form input:hover[type="button"]{
	border:1px solid #06C;
	background:#06C;
	padding:5px;
	width:300px;
	font-family: 'Patua One', cursive;
	font-size:20px;
	color:#FFF;
	margin:20px 0;
	clear:both;
	display:block;
}
.form span{width:300px; overflow:hidden;}
.form span label{
	font-size:12px;
	font-family: Arial, Helvetica, sans-serif;
	color:#666;
	margin-left:10px;
	vertical-align:middle;
}
.form span a{
	margin-left:92px;
	font-family: 'Ubuntu', sans-serif;
	font-size:12px;
	vertical-align:middle;
}
.form span input[type="checkbox"]:checked + label{
	color:#06F;
}
.select-img img {
	widows:65px;
	height:65px;
	margin-left:15px;
}
.bag {
	border-bottom:1px solid #DDD;
	overflow:hidden;
	margin-bottom:10px;
}
.bag .glyphicon{
	height:75px;
	padding-top:25px;
	color:#999;
	cursor:pointer;
}
.select-title h4{
	font-family: 'Patua One', cursive;
	margin-left:15px;
	vertical-align:middle;
	float:left;
	margin-top:23px;
}
.coupon{
	border:1px solid #BCBCBC;
	font-family: 'Patua One', cursive;
	color:#999;
	height:40px;
	width:250px;
	padding:0 5px;
	margin-bottom:10px;
}
.coupon:focus{
	border-color:#06C;
}
.select-title h4 a{
	color:#333;
}
.select-title h4 a:hover{
	color:#06C;
}
.check{
	margin:5% 0;
}
.check h5{
	font-family: 'Jockey One', sans-serif;
	font-size:24px;
	text-align:center;
	float:right;
	width:250px!important;
}
.check button{
	width:250px;
	font-family: 'Jockey One', sans-serif;
	font-size:24px;
	float:right;
}
.check h6{
	font-family: 'Jockey One', sans-serif;
	font-size:18px;
	clear:both;
	padding-top:20px;
	text-align:right;
}
.check h6 small{
	display:block;
	width:100%;
}
.home img {
	width:100%;
	margin:5px 0;
	cursor:pointer;
}
.login > h1{
	font-family: 'Ubuntu Condensed', sans-serif;
	font-size:50px;
	margin:0;
}
.login >.sub-container{
	width:75%;
	margin:0 auto;
}
.login >.sub-container > div{
	width:48%;
}
.sub-container h3{
	font-family: 'Ubuntu Condensed', sans-serif;
	font-size:17px;
	border-bottom:3px solid #333;
	width:100%;
	padding-bottom:10px;
}
.sub-container h4{
	font-family: 'Ubuntu Condensed', sans-serif;
}
.sub-container label{clear:both; width:100%; font-size:14px; 
	font-family: 'Ubuntu Condensed', sans-serif!important;
	font-weight:normal;
	margin:5px 0;
}
.sub-container input{
	width:75%;
	clear:both;
	height:30px;
	padding:5px;
	border:1px solid #999;
}
.sub-container button{
	margin:20px 0;
}

.sub-container .pull-right ul li{margin:10px 0!important;}




@media only screen and (min-width: 481px) {
	.navbar-header >  a {
		display:none;
	}	
	
}