@(title: String, assetsFinder: AssetsFinder)


@main("index", assetsFinder) {

<ul class="cb-slideshow">
    <li><span>Image 01</span><div><button type="button" class="btn btn-outline-light btn-lg">shop now</button></div></li>
    <li><span>Image 02</span><div><button type="button" class="btn btn-outline-light btn-lg">shop now</button></div></li>
    <li><span>Image 03</span><div><button type="button" class="btn btn-outline-light btn-lg">shop now</button></div></li>
    <li><span>Image 04</span><div><button type="button" class="btn btn-outline-light btn-lg">shop now</button></div></li>
    <li><span>Image 05</span><div><button type="button" class="btn btn-outline-light btn-lg">shop now</button></div></li>
    <li><span>Image 06</span><div><button type="button" class="btn btn-outline-light btn-lg">shop now</button></div></li>
</ul>





}